/*
    Theme
-------------------------------
*/

:root {
  --header-height: calc(var(--unit) * 2);
}

.overlay-color {
  background-color: var(--color-inverse);
  background-blend-mode: hard-light;
  opacity: 0.2;

  transition: opacity 0.5s linear;
  /* background: linear-gradient(
      to bottom left,
      rgb(209, 179, 115),
      var(--color-inverse)
    ),
    linear-gradient(to top left, rgb(141, 196, 196), transparent),
    linear-gradient(to top right, rgb(145, 75, 98), transparent); */
}

a:hover .overlay-color {
  opacity: 0.75;
}

h2 {
  border-bottom-color: var(--color-bg);
}

.reveal {
  opacity: 0;
  color: var(--color-bg);
}

a:hover .reveal {
  transition: opacity 0.5s linear;
  opacity: 1;
}

@media (--viewport-tablet) {
  h1,
  .h1 {
    typescale: 5 2;
  }

  h2,
  .h2 {
    typescale: 3 1.5;
  }

  h3,
  .h3 {
    typescale: 1 1.25;
  }

  blockquote {
    padding: var(--unit-xl);
  }
}
