/*
    Theme
-------------------------------
*/

:root {
  --header-height: calc(var(--unit) * 2);
}

.overlay-color {
  background-color: var(--color-inverse);
  background-blend-mode: hard-light;
  opacity: 0.3;

  transition: opacity 0.5s linear;
}

a:hover .overlay-color {
  opacity: 0.75;
}

h2.color-bg {
  border-bottom-color: var(--color-bg);
}

.reveal {
  opacity: 0;
  color: var(--color-bg);
}

a:hover .reveal {
  transition: opacity 0.5s linear;
  opacity: 1;
}

.banner {
  background-color: color-mod(var(--color-highlight) saturation(30%));
}

.logo {
  height: var(--unit-l);
}

@media (--viewport-tablet) {
  h1,
  .h1 {
    typescale: 5 2;
  }

  h2,
  .h2 {
    typescale: 3.5 1.5;
  }

  h3,
  .h3 {
    typescale: -0.5 1;
  }

  blockquote {
    padding: var(--unit-m) var(--unit-xl);
    typescale: 2 1.5;
  }
}
