/*
    Theme
-------------------------------
*/

:root {
  --header-height: calc(var(--unit) * 2);
}

.img-filter {
  /* filter: brightness(3) grayscale(100%); */
  background-color: rgba(39, 62, 84, 0.82);
}

.overlay-color {
  background-color: rgba(39, 62, 84, 0.82);
  /* overflow: hidden;
  height: 100%; */
  /* background-image: url(/img/anne-gabrielle-com-pilates.jpg); */
  /* background-blend-mode: multiply; */
  opacity: 0.2;
  /* background: linear-gradient(rgba(255, 0, 0, 0.8), transparent),
    linear-gradient(to top left, rgba(0, 255, 0, 0.5), transparent),
    linear-gradient(to top right, rgba(0, 0, 255, 0.5), transparent); */

  /* background-blend-mode: difference; */
}
